In [7]:
# Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90,150.
# Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, 
# среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.
import numpy as np
from math import factorial as fl
def combinations(k, n):
    return fl(n) / (fl(k) * fl(n - k))

In [2]:
salaries = np.array([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])

In [3]:
salaries_mean = salaries.sum() / salaries.size

In [4]:
(np.sum((salaries - salaries_mean)**2) / salaries.size)**0.5

30.823854398825596

In [5]:
np.sum((salaries - salaries_mean)**2) / salaries.size

950.11

In [6]:
np.sum((salaries - salaries_mean)**2) / (salaries.size - 1)

1000.1157894736842

In [8]:
# На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. 
# Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. 
# Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.
A = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
A

0.7666666666666666

In [9]:
(1/3 * 0.8) / A

0.3478260869565218

In [10]:
(1/3 * 0.8) / A

0.3478260869565218

In [11]:
# В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, 
# сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. 
# Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. 
# Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?
A = 1/4 * 0.8 + 1/4 * 0.7 + 1/2 * 0.9
A

0.825

In [12]:
(1/4 * 0.8) / A

0.24242424242424246

In [13]:
(1/4 * 0.7) / A

0.21212121212121213

In [14]:
(1/2 * 0.9) / A

0.5454545454545455